@font-face {
    font-family: 'Inter';
    src: local('Inter') url('../Fonts/Inter.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    cursor: default;
}

h1 {
    font-family: 'Inter', sans-serif;
}

form {
    display: flex;
    flex-direction: column;

    input {
        margin-top: 5px;
        margin-bottom: 2px;
        padding: 5px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 1.2rem;
    }
}

.app {
    padding: 2%;
}

.form-container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.result-container {
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 10%;

}

.integral {
    padding-right: 3%;
    font-size: 10rem;
    font-weight: 600;
}

.limits{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 5%;
    padding-top: 4%;
    padding-bottom: 1%;


    input {

        width: 80%;
        font-size: 2rem;;
        border-radius: 8px;

    }

}

.function {
    display: flex;
    width: 30%;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2%;
    
    input{
        font-size: 3rem;
        border-radius: 8px;
        width: 100%;
    }
}
.differential {
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-left: 2%;
}   
.equal{
    display: flex;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
}
.rectanglenum{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    h1{
        font-size: 1.5rem;
    }
}