* {
    padding: 0;
    margin: 0;
    cursor: default;
}

h1 {
    font-family: 'Inter', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.app {
    width: 80%;
    height: 100%;
    padding: 1%;
}

.form-container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.result-container {
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 10%;

}

.integral {
    padding-right: 3%;
    font-size: 10rem;
    font-weight: 600;

    h1 {
        font-family: 'Inter', sans-serif;
    }
}

.limits {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 5%;
    padding-top: 1%;
    padding-bottom: 2%;


    input {
        width: 80%;
        font-size: 2rem;
        border: solid 1px black;
        border-radius: 0px;
        padding: 5px;
    }

}

.function {
    display: flex;
    width: 30%;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2%;

    input {
        font-size: 3rem;
        border: solid 1px black;
        border-radius: 0px;
        padding: 5px;
        width: 100%;
    }
}

.differential {
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-left: 2%;
}

.equal {
    display: flex;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
    cursor: pointer;

    h1 {
        padding: 10px;
        border: solid 1px rgb(100, 100, 100);
        border-radius: 5px;
        cursor: pointer;
    }

    :hover {
        background: grey;
    }
}

.rectanglenum {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;

    h1 {
        font-size: 1.5rem;
    }
}